<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width-device-width,initial-scale=1.0'>
  <title>login</title>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <link rel='stylesheet' href='static/css/login.css'>
</head>



<body>
  <body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post">
                  {% csrf_token %}
                    <h2>Login to Guest House</h2>
                    <div class="inputbox">  <ion-icon name="person-outline"></ion-icon> <input type="text" name="username" required>
                        <label>username</label>
                    </div>
                    <div class="inputbox"> <ion-icon name="lock-closed-outline"></ion-icon> <input type="password"
                          name="password"  required> <label>Password</label> </div>
                          {% for msg in messages%}
                          <div style="color:white">
                          {{msg}}
                          
                        </div>
                        <br>
                          {% endfor%}
                     <button>Log In</button>
                    <div class="register">
                        <p>Don't have an account? <a href="signup">Sign Up</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section> 
  </body>
</body>
</html>
